@import './all';
@import '_colors';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.page {
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  color: #333;
  font-size: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

